<?xml version="1.0" encoding="utf-8"?>
<manifest android:versionCode="15" android:versionName="4.0.3-XWLP7" package="com.android.mms"
  xmlns:android="http://schemas.android.com/apk/res/android">
    <original-package android:name="com.android.mms" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_MMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_DEV_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.INSTALL_DRM" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="com.wsomacp.permission.PROVIDER" />
    <uses-permission android:name="com.sec.android.provider.badge.permission.WRITE" />
    <uses-permission android:name="com.sec.android.provider.badge.permission.READ" />
    <uses-permission android:name="android.permission.RECEIVE_WAP_PUSH" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PRIVILEGED" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="com.sec.android.provider.logsprovider.permission.READ_LOGS" />
    <uses-permission android:name="com.sec.android.provider.logsprovider.permission.WRITE_LOGS" />
    <application android:theme="@style/TwMessageTheme" android:label="@string/app_label" android:icon="@drawable/ic_launcher_smsmms" android:name="MmsApp" android:taskAffinity="android.task.mms" android:allowTaskReparenting="true">
        <service android:name=".transaction.TransactionService" android:exported="true" />
        <service android:name=".transaction.SmsReceiverService" android:exported="true" />
        <service android:name=".transaction.MessagingNotificationAlert" android:exported="true" />
        <service android:name=".transaction.PushReceiverService" android:exported="true" />
        <activity android:label="@string/app_label" android:name=".ui.ConversationComposer" android:launchMode="singleTop" android:configChanges="keyboardHidden|orientation|uiMode|screenSize" android:allowTaskReparenting="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.dir/mms" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android-dir/mms-sms" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android-dir/mms-sms" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.SENDTO" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="sms" />
                <data android:scheme="smsto" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.SENDTO" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="mms" />
                <data android:scheme="mmsto" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="video/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="audio/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/x-vcard" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/x-vCalendar" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/x-vnote" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/x-vtodo" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>
        <activity android:theme="@touchwiz:style/TwTheme" android:label="@string/language" android:name=".ui.LanguagePreferenceActivity" android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:theme="@touchwiz:style/TwTheme" android:label="@string/pref_title_channel_configuration" android:name=".ui.CbConfigPreferenceActivity" android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity-alias android:name=".ui.ComposeMessage" android:configChanges="keyboardHidden|orientation|screenSize" android:targetActivity=".ui.ConversationComposer" android:windowSoftInputMode="stateHidden" />
        <activity-alias android:name=".ui.ForwardMessageActivity" android:configChanges="keyboardHidden|orientation|screenSize" android:targetActivity=".ui.ConversationComposer" android:windowSoftInputMode="stateHidden" />
        <activity-alias android:name=".ui.ConversationList" android:configChanges="keyboardHidden|orientation|screenSize" android:targetActivity=".ui.ConversationComposer" android:windowSoftInputMode="stateHidden" />
        <activity android:theme="@android:style/Theme.Dialog" android:label="@string/delivery_report_activity" android:name=".ui.DeliveryReportActivity" />
        <activity android:theme="@android:style/Theme.Dialog" android:label="@string/storage_limits_activity" android:name=".ui.WarnOfStorageLimitsActivity" android:excludeFromRecents="true" />
        <activity android:label="@string/slideshow_activity" android:name=".ui.SlideshowActivity" android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/pdu" />
            </intent-filter>
        </activity>
        <activity android:theme="@android:style/Theme.Translucent" android:label="@string/class_0_message_activity" android:name=".ui.ClassZeroActivity" android:excludeFromRecents="true" android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:theme="@touchwiz:style/TwTheme" android:label="@string/preferences_title" android:name=".ui.MessagingPreferenceActivity" android:configChanges="keyboardHidden|orientation|screenSize" />
        <receiver android:name=".transaction.PushReceiver" android:permission="android.permission.BROADCAST_WAP_PUSH">
            <intent-filter>
                <action android:name="android.provider.Telephony.WAP_PUSH_RECEIVED" />
                <data android:mimeType="application/vnd.wap.mms-message" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.provider.Telephony.WAP_PUSH_RECEIVED" />
                <data android:mimeType="application/vnd.wap.sic" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.provider.Telephony.WAP_PUSH_RECEIVED" />
                <data android:mimeType="application/vnd.wap.slc" />
            </intent-filter>
        </receiver>
        <activity android:theme="@android:style/Theme.Translucent" android:label="@string/push_message_dialog_title" android:name=".ui.PushMessageDialog" android:excludeFromRecents="true" android:configChanges="keyboardHidden|orientation|screenSize" />
        <receiver android:name=".transaction.MmsSystemEventReceiver">
            <intent-filter>
                <action android:name="android.intent.action.CONTENT_CHANGED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.provider.Telephony.IMEI_TRACKER_SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        <service android:name=".transaction.IMEITrackerService">
            <intent-filter>
                <action android:name="com.android.mms.transaction.IMEITracker.IMEITrackerService" />
            </intent-filter>
        </service>
        <receiver android:name=".ui.MmsBGSender">
            <intent-filter>
                <action android:name="com.android.mms.QUICKSND" />
            </intent-filter>
        </receiver>
        <activity android:theme="@touchwiz:style/TwTheme" android:label="@string/sim_manage_messages_title" android:name=".ui.ManageSimMessages" android:launchMode="singleTop" android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <receiver android:name=".transaction.PrivilegedSmsReceiver" android:permission="android.permission.BROADCAST_SMS">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.provider.Telephony.GET_SMSC" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_CB_RECEIVED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.provider.Telephony.CB_RECEIVED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.provider.Telephony.CB_SETTINGS_AVAILABLE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.provider.Telephony.SET_CB_ERR_RECEIVED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.provider.Telephony.GET_CB_ERR_RECEIVED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.provider.Telephony.DEVICE_READY" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.DATA_SMS_RECEIVED" />
                <data android:scheme="sms" />
            </intent-filter>
        </receiver>
        <receiver android:name=".transaction.SmsReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SIM_STATE_CHANGED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.android.mms.transaction.MESSAGE_SENT" />
                <data android:scheme="content" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MESSAGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.android.internal.policy.impl.Keyguard.PCW_LOCKED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.android.internal.policy.impl.Keyguard.PCW_UNLOCKED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".transaction.MessageStatusReceiver">
            <intent-filter>
                <action android:name="com.android.mms.transaction.MessageStatusReceiver.MESSAGE_STATUS_RECEIVED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".transaction.SimFullReceiver">
            <intent-filter>
                <action android:name="android.provider.Telephony.SIM_FULL" />
            </intent-filter>
        </receiver>
        <receiver android:name=".transaction.SmsRejectedReceiver">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_REJECTED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".transaction.SmsSenderReceiver">
            <intent-filter>
                <action android:name="com.android.mms.transaction.Send.SMS" />
            </intent-filter>
        </receiver>
        <receiver android:name=".transaction.DebugSettingReceiver">
            <intent-filter>
                <action android:name="com.android.mms.transaction.LogOn" />
                <action android:name="com.android.mms.transaction.pdu" />
                <action android:name="com.android.mms.transaction.ua" />
                <action android:name="com.android.mms.transaction.optionalfieldattendance" />
            </intent-filter>
        </receiver>
        <receiver android:name=".transaction.SharedPreferenceReceiver">
            <intent-filter>
                <action android:name="com.android.mms.transaction.SharedPreferenceReceiver" />
            </intent-filter>
        </receiver>
        <receiver android:name=".MessagingGateReceiver">
            <intent-filter>
                <action android:name="com.sec.android.gate.GATE" />
            </intent-filter>
        </receiver>
        <receiver android:name=".transaction.MmsBackgroundSendingReceiver">
            <intent-filter>
                <action android:name="com.android.mms.transaction.Send.MMS" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </receiver>
        <activity android:theme="@android:style/Theme.Dialog" android:name=".ui.ConfirmRateLimitActivity">
            <intent-filter>
                <action android:name="com.android.mms.RATE_LIMIT_SURPASSED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:theme="@touchwiz:style/TwTheme" android:label="@string/search" android:name=".ui.SearchActivity" android:launchMode="singleTop" android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data android:name="android.app.searchable" android:resource="@xml/searchable" />
        </activity>
        <activity android:label="@string/sms_viewer_activity" android:name=".ui.SmsViewerActivity" android:launchMode="singleTop" android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/sms" />
            </intent-filter>
        </activity>
        <activity android:label="@string/drmcontents" android:name=".ui.DrmContentsActivity" android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:label="@string/menu_translate" android:name=".ui.TranslateActivity" android:configChanges="keyboardHidden|orientation|screenSize" android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="com.android.mms.ui.TranslateActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.SelectMapActivity" android:configChanges="keyboardHidden|orientation|screenSize" android:windowSoftInputMode="stateHidden" />
        <meta-data android:name="android.app.default_searchable" android:value=".ui.SearchActivity" />
        <provider android:name="SuggestionsProvider" android:readPermission="android.permission.READ_SMS" android:authorities="com.android.mms.SuggestionsProvider">
            <path-permission android:readPermission="android.permission.GLOBAL_SEARCH" android:pathPrefix="/search_suggest_query" />
            <path-permission android:readPermission="android.permission.GLOBAL_SEARCH" android:pathPrefix="/search_suggest_shortcut" />
        </provider>
        <uses-library android:name="touchwiz" />
        <uses-library android:name="com.google.android.maps" />
        <receiver android:name="com.android.mms.ReadChangedReceiver">
            <intent-filter>
                <action android:name="android.provider.Telephony.Threads.action.READ_CHANGED" />
            </intent-filter>
        </receiver>
        <activity android:theme="@android:style/Theme.NoTitleBar" android:label="@string/themes_title" android:icon="@drawable/mainmenu_icon_theme_settings" android:name=".ui.ThemePicker3D" android:screenOrientation="nosensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.android.mms.LogLevelSelector" />
    </application>
    <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="15" />
</manifest>
